.feed {
    padding: 0 0 48px 0;
    &__item {
        margin-top: 60px;
        display: flex;
        margin-bottom: 60px;
        img {
            width: 169px;
            height: 169px;
        }
        &:last-child {
            margin-bottom: 20px;
        }
    }
    &__text {
        margin-left: 61px;
        width: 680px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;

    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
    &__subtext {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        margin-bottom: 10px;
    }
}