@media (max-width: 415px)
    .header 
        flex-direction: column
        &__official
            margin-top: 15px
        &__phone
            margin-top: 10px
        &__contacts

    .promo
        &__header
            text-align: center
        &__subheader
            display: block
            margin: 0 auto
            font-size: 19px
        &__icons
            margin-top: 40px
            justify-content: center
            width: 390px
        &__link
            margin: 0 auto
            padding-top: 10px
        &__wrapper
            margin-top: 50px
        .button_main
            margin: 0 auto
            margin-top: 60px
        
    .advantages
        &__wrapper
            flex-direction: column
            align-items: center
        &__item
            margin-bottom: 30px
        &__subtitle
            margin-top: 10px
    .consultation
        padding: 50px 0 42px 0
        min-height: 680px
        &__descr
            margin-top: 20px
            text-align: center
        .title
            display: block
            margin: 0 auto
            font-weight: 700
            font-size: 22px
            line-height: 29px
            text-align: center
        .feed-form
            margin: 0 auto
            margin-top: 95px
        
    